

.container-buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex-basis: 10%; /* Adjust this to set the width of each button */
  margin: 5px; /* Adjust this to set the spacing between buttons */
}
/* Apply white and bold text to the table */
.table-bordered th,
.table-bordered td {
  color: white;
  font-weight: bold;
}
